.section-about {
  @include breakpoint(1000px) {
    height: 150vh;
  }
}

.selfie-img {
  max-width: 90%; 
  height: auto;
  max-height: 80vh;
  filter: contrast(0.95);
  align-self: center;
  border: $colorGreen 1px solid;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include breakpoint(1600px) {
    grid-template-columns: 45% 1fr;
  }

  @include breakpoint(1000px) {
    grid-template-columns: 1fr;
  }
}

.about-image {
  order: 2;
  display: flex;
  justify-content: center;
}

.about-text-container {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20%;

  @include breakpoint(1600px) {
    margin: 0 15%;
  }

  @include breakpoint(1000px) {
    margin: $spaceL;
  }
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: $spaceM;

  @include breakpoint(1600px) {
    font-size: 2rem
  }
}

.about-text {
  font-size: 1.25rem;
  margin-bottom: $spaceM;

  @include breakpoint(1600px) {
    font-size: 1rem;
  }

  @include breakpoint(1000px) {
    font-size: 1.15rem;
  }

  @include breakpoint(800px) {
    font-size: 1rem;
  }
}

.about-link {
  color: $colorGreen;
  text-decoration: none;
  font-weight: bolder;

  &:hover {
    text-decoration: underline;
    color: darken($colorGreen, 12%);;
  }
}