$colorRed: red;

.email-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  text-align: center;
}

.contact-header {
  font-size: 2.5rem;

  @include breakpoint(900px) {
    font-size: 2rem;
  }
}

.contact-label {
  position: absolute;
  font-size: 1.25rem;
  left: 0;
  transform: translateY(40px);
  transition: transform .5s ease-in-out, font-size .5s ease-in-out;
  cursor: text;
}

.with-input {
  transform: translateY(12px);
  font-size: 1rem;
}

.contact-input {
  padding: $spaceL 0;
  background-color: transparent;
  margin: $spaceL 0;
  border: none;
  cursor: text;
  width: 100%;
  user-select: text;

  &:focus + .contact-label {
    transform: translateY(12px);
    font-size: 1rem;
  }
}

.contact-input-container {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    position: relative;
    background: lightgrey;
    top: 90px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    position: relative;
    background: $colorGreen;
    bottom: 28px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .6s ease-in-out;
    filter: blur(1px);
  }

  &:focus-within::after {
    transform: scale(1);
  }
}

.contact-submit-container {
  margin-top: 2rem;
}

.contact-submit {
  max-width: 200px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: $colorGreen;
  transition: filter .2s ease-in-out;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  filter: grayscale(1);
  appearance: none;

  &:hover {
    filter: grayscale(0);
    transform: scale(1.05);
    letter-spacing: 0.6px;
    font-weight: bold;
  }
}

.contact-error {
  position: absolute;
  width: 100%;
  color: $colorRed;
  font-size: 13px;
  font-weight: bold;
}

.has-error {
  color: $colorRed;
}

.valid {
  color: $colorGreen;
}