.navbar {
  display: flex;
  position: fixed;
  width: 145px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  z-index: 1024;

  @include breakpoint(700px) {
    display: block;
    width: 0px;
    height: auto;
    position: relative;
    z-index: 100;
  }
}