.carousel-projects {
  height: 110vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.carousel-section-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-container {
  margin-left: auto;
  margin-right: auto;
  height: 85%;
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 0% 1fr 0%;
  transition: max-width 0.5s ease-in-out,
    width 0.5s ease-in-out,
    height 0.5s ease-in-out;

  @include breakpoint(2000px) {
    transition: max-width 0.5s ease-in-out;
  }
  
  @include breakpoint(1600px) {
    transition: max-width 0.5s ease-in-out;
  }

  @include breakpoint(1100px) {
    // margin-top: 5%;
    // height: 60%;
    transition: height 0.5s ease-in-out;
  }

  @include breakpoint(800px) {
    // margin-top: 15%;
    // height: 50%;
  }
  
  @include breakpoint(600px) {
    margin-top: 10%;
    height: 70%;
  }
}

.carousel-content {
  height: 100%;
  width: inherit;
  overflow: hidden;
}

.carousel-img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
  filter: blur(1px) brightness(0.4);

  &:hover {
    cursor: pointer;
    filter: brightness(0.2);
  }
}

.carousel-list-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-list {
  width: 300%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  transform: translateX(0%);
  transition: transform 0.7s ease-in-out;
}

.first-li {
  transform: translateX(0%);
}

.second-li {
  transform: translateX(-33.33%);
}

.third-li {
  transform: translateX(-66.66%);
}

.carousel-li {
  width: 100%;
  height: 100%;
}

.temp {
  background-color: grey;
  width: 100%;
  height: 100%;
}