.section-project {
  margin: 10% 0px;
  
  .project {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  @include breakpoint(1300px) {
    height: 120vh;

    .project {
      flex-direction: column;
    }
  }
}

.project-preview {
  display: flex;
  width: 60%;
  justify-content: center;
  order: 1;

  
  .project-img {
    max-width: 90%;
    width: 100%;
    
    &:hover {
      cursor: pointer;
      filter: contrast(0.8);
    }
  }

  @include breakpoint(1300px) {
    width: 65%;
  }

  @include breakpoint(1000px) {
    width: 85%
  }

  @include breakpoint(850px) {
    width: 100%;
  }
}

.project-description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  order: 2;

  @include breakpoint(1300px) {
    width: 100%;
    margin-top: 5%;
    width: 75%;
  }

  &:hover > .divider-container > .divider-top {
    transition: all 1.3s ease-out;
    transform: translateX(-120%);
  }

  &:hover > .divider-container > .divider-bottom {
    transition: all 1.3s ease-out;
    transform: translateX(120%);
  }
}

.project-title {
  font-size: 2.5rem;
  margin-top: 0;
  min-inline-size: max-content;

  @include breakpoint(2000px) {
    font-size: 2.25rem;
  }

  @include breakpoint(1600px) {
    font-size: 2rem;
  }

  @include breakpoint(700px) {
    font-size: 1.5rem;
  }
}

.project-text {
  font-size: 1.25rem;
  text-align: center;
  max-width: 600px;

  @include breakpoint(2000px) {
    font-size: 1.15rem;
  }

  @include breakpoint(1300px) {
    font-size: 1rem;
    max-width: 400px;
  }

  @include breakpoint(850px) {
    font-size: 0.85rem;
  }
}

.order-reverse {
  order: 3;

  @include breakpoint(1300px) {
    order: 1;
  }
}

.project-links-container {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  transform: scale(1.15);
  margin-top: 1.5rem;
}

.divider-container {
  transform: scale(1.5);
  fill: $colorGreen;
  padding: 1rem;
  cursor: default;
}

.divider-container path {
  cursor: default;
}