.project {
  display: grid;
  grid-template-columns: 1fr 40%;
  width: 100%;
  align-items: center;
}

.project-reverse {
  grid-template-columns: 45% 1fr;
}

.project-preview {
  place-self: end;
  order: 1;
}

.project-description {
  margin: var(--spaceM);
  max-width: 350px;
  order: 2;
}

.order-reverse {
  order: 3;
  place-self: start;
}

.description-reverse {
  justify-self: end;
}

.project-img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.project-title {
  font-size: 2.5rem;
  margin-bottom: var(--spaceM);
}

.project-text {
  font-size: 1.25rem;
  margin-bottom: var(--spaceM);
}

@media only screen and (max-width: 1000px) {
  .project {
    grid-template-columns: 100%;
  }

  .project-preview, .project-description {
    place-self: center;
    text-align: center;
  }

  .project-description {
    max-width: 65%;
  }

  .order-reverse {
    order: 1;
  }
}