.mobile-nav {
  display: hidden;
  backdrop-filter: blur(16px);
  transform: translateY(0%);
}

.nav-dark {
  background-color: rgb(var(--rgbGrey) / .8);
  color: rgb(var(--rgbWhite) / .8);
}

.nav-light {
  background-color: rgb(var(--rgbOffWhite) / .8);
  color: rgb(var(--rgbDarkGrey) / .8);
}

.open {
  animation: open 1.1s ease;
}

.closed {
  animation: close 1.1s ease;
}

.mobile-link {
  display: none;
}

@keyframes open {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}

@keyframes close {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-105%); }
}

@media only screen and (max-width: 700px), 
            screen and (max-height: 625px) {
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .mobile-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: var(--spaceL);
    text-decoration: none;
    font-weight: 400;
    transition: color 2s;
    position: relative;
    font-size: 1.375rem;
    color: inherit;
    box-sizing: border-box;
  }
  
  .mobile-link::after {
    content: "";
    width: 100%;
    height: 4px;
    width: 80%;
    background-color: var(--hexLinuxGreen);
    position: absolute;
    top: 54%;
    left: 0%;
    right: var(--space3XL);
    left: var(--space3XL);
    transform: scaleX(0) translateY(-1px);
    transform-origin: right;
    transition: transform .3s ease-in-out;
  }
  
  .mobile-link:hover::after {
    transform: scaleX(1) translateY(-1px);
    transform-origin: left;
  }
}