.mobile-nav {
  display: hidden;
  backdrop-filter: blur(16px);
  transform: translateY(0%);
}

.nav-dark {
  background-color: rbg(var(--rgbGrey) / .8);
  color: rgb(var(--rgbWhite) / .8);
}

.nav-light {
  background-color: rgb(var(--rgbOffWhite) / .8);
  color: rgb(var(--rgbDarkGrey) / .8);
}

.open {
  animation: open 1.1s ease;
}

.closed {
  animation: close 1.1s ease;
}

.mobile-link {
  display: none;
}

@keyframes open {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}

@keyframes close {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-105%); }
}

@media only screen and (max-width: 700px) {
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .mobile-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: var(--spaceL);
  }
}