@import './core/_normalize.css';
@import './abstracts/_variables';
@import './abstracts/_mixins';
@import './core/_base';
@import './abstracts/_themes';
@import './components/_scrollbar';
@import './sections/_header';
@import './layout/_nav';
@import './components/_icons';
@import './components/_logo';
@import './layout/_mobile-nav';
@import './components/_menu';
@import './components/_theme-btn';
@import './layout/_section';
@import './sections/_intro-title';
@import './components/_blinker';
@import './components/_name';
@import './components/_title-rotating';
@import './components/_title-typing';
@import './sections/_project';
@import './sections/_about';
@import './sections/_skills';
@import './components/_badges';
@import './sections/_contact';
@import './components/_modal';