.name {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .3em;
}

.name::before {
  content: "";
  background-color: var(--hexLinuxGreen);
  display: block;
  position: relative;
  height: 24px;
  width: 230px;
  top: 29px;
  left: 0px;
  animation: reveal 3s forwards 2.5s;
}

.name-container {
  margin-bottom: var(--spaceS);
  overflow: hidden;
}

@keyframes reveal {
  0% {left: 0px}
  100% {left: -230px}
}

@media only screen and (max-width: 2000px) {
  .name {
    font-size: 1.4rem;
  }

  .name::before {
    width: 215px;
  }

  @keyframes reveal {
    0% {left: 0px}
    100% {left: -215px}
  }
}

@media only screen and (max-width: 1600px) {
  .name {
    font-size: 1.3rem;
  }

  .name::before {
    width: 200px;
  }

  @keyframes reveal {
    0% {left: 0px}
    100% {left: -200px}
  }
}

@media only screen and (max-width: 1200px) {
  .name {
    font-size: 1.2rem;
  }

  .name::before {
    width: 180px;
  }

  .name-container {
    margin-bottom: var(--spaceM);
  }

  @keyframes reveal {
    0% {left: 0px}
    100% {left: -180px}
  }
}

@media only screen and (max-width: 900px) {
  .name {
    font-size: 1.15rem;
  }

  .name::before {
    width: 175px;
    top: 26px;
  }

  @keyframes reveal {
    0% {left: 0px}
    100% {left: -175px}
  }
}

@media only screen and (max-width: 700px) {
  .name {
    font-size: 0.95rem;
  }

  .name::before {
    width: 145px;
    height: 22px;
  }

  @keyframes reveal {
    0% {left: 0px}
    100% {left: -145px}
  }
}

@media only screen and (max-width: 400px) {
  .name {
    font-size: 1.125rem;
  }

  .name::before {
    width: 170px;
  }

  @keyframes reveal {
    0% {left: 0px}
    100% {left: -175px}
  }
}