// Variables
$darkBackground: #111111;
$darkColor1: #ffffff99;
$darkColor2: #ffffffCC;
$darkFont: $darkColor2;
$darkIcon: $darkColor1;
$darkLink: $darkColor2;

$lightBackground: $colorOffWhite;
$lightColor1: #00000099;
$lightColor2: #000000BB;
$lightColor3: #000000B3;
$lightFont: $lightColor3;
$lightIcon: $lightColor1;
$lightLink: $lightColor2;


// Dark Mode Stlyes
.dark {
  background-color: $darkBackground;
  color: $darkFont;
}

.dark-icon {
  @extend %icon;
  fill: $darkIcon;
}

.dark-link {
  @extend %web-link;
  color: $darkLink;
}

.dark-logo {
  fill: white;
}

// Light Mode Styles
.light {
  background-color: $lightBackground;
  color: $lightFont;
}

.light-icon {
  @extend %icon;
  fill: $lightIcon;
}

.light-link {
  @extend %web-link;
  color: $lightLink;
}

.light-logo {
  fill: black;
}