@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Colors
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorOffWhite: #F2F2F2;
$colorGreen: #4aF626;
$colorLightGrey:#D3D3D3;
$colorGrey: #1A1A1A;

// Spacing
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$space2XL: 48px;
$space3XL: 64px;

// Fonts
$baseFont: 'Open Sans', sans-serif, Gotham, system-ui, 
  -apple-system, BlinkMacSystemFont, Roboto, Segoe UI;
$secondaryFont: Ubuntu;