.title-ending {
  display: inline;
  font-size: 8rem;
  font-weight: bolder;
}

.linux {
  color: var(--hexLinuxGreen);
  font-weight: 400;
  font-size: 8rem;
  margin-right: var(--spaceS);
}

@media only screen and (max-width: 2000px) {
  .title-ending, .linux {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 1600px) {
  .title-ending, .linux{
    font-size: 6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .title-ending, .linux {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 900px) { 
  .title-ending, .linux {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 700px) {
  .title-ending, .linux {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .title-ending, .linux {
    font-size: 2rem;
  }
}