.rotating {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  animation: slide 7s linear infinite; 
}

.li-rotate {
  display: block;
  margin: 3;
}

.rotate-container {
  overflow: hidden;
  height: 24px;
  text-align: right;
}

.rotate-container::before {
  content: "[ ";
}

.rotate-container::after {
  content: " ]";
}

@keyframes slide {
  0%, 20% {transform:translate3d(0,0,0);}
  25%, 45% {transform:translate3d(0,-33%,0);}
  50%, 70% {transform:translate3d(0,-66%,0);}
  75%, 95% {transform:translate3d(0,-33%,0);}
  100% {transform:translate3d(0,0,0);}
}