.intro-title {
  animation: unblur 5s forwards;
  animation-fill-mode: initial;
  width: 100%;
  position: relative;
}

@keyframes unblur {
  0% {
    filter: blur(15px);
    opacity: 0%;
  }
  100% {
    filter: blur(0px);
    opacity: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .intro-title {
    top: calc(var(--space3XL) * -1)
  }
}