.intro-title {
  width: 100%;
  position: relative;
}

.dark-title {
  color: white
}

.light-title {
  color: black
}

@media only screen and (max-width: 700px) {
  .intro-title {
    top: calc(var(--space3XL) * -1)
  }
}

@media only screen and (max-width: 400px) {
  .intro-title {
    top: calc(var(--space3XL) * -1)
  }
}