.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rotate-container {
  overflow: hidden;
  height: 5rem;
  font-size: 4rem;
  flex-shrink: 0;
}

.rotating {
  width: 100%;
  animation: slide 7s infinite 4s; 
  display: block;
}

.li-rotate {
  font-weight: bolder;
  text-align: end;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.line {
  display: flex;
  width: 100%;
  height: 2px;
  margin-left: 20px;
  transform-origin: left;
  margin-top: 22px;
  opacity: 0.4;
}

.dark-line {
  background-color: rgb(var(--rgbWhite) / .3);
}

.light-line {
  background-color: rgb(var(--rgbBlack) / .3);
}

@keyframes slide {
  0%, 20% {transform:translateY(0%);}
  25%, 45% {transform:translateY(-33%);}
  50%, 70% {transform:translateY(-66%);}
  75%, 95% {transform:translateY(-33%);}
  100% {transform:translateY(0%);}
}

@media only screen and (max-width: 700px) {
  .li-rotate {
    font-size: 3rem;
  }

  .rotate-container {
    height: 3.5rem;
  }

  .line {
    margin-top: 20px;
    margin-left: 11px;
  }
}