.menu {
  display: none
}

.menu-open .menu-line:nth-child(1){
  transform: translateY(13px);
}

.menu-open .menu-line:nth-child(3){
  transform: translateY(-13px);
}

.dark-menu {
  background-color: rgb(var(--rgbWhite) / .8);
}

.light-menu {
  background-color: rgb(var(--rgbBlack) / .8);
}

@media only screen and (max-width: 700px), (max-height: 550px) {
  .menu {
    display: block;
    position: fixed;
    top: var(--spaceOuter);
    right: var(--spaceOuter);
    z-index: 1024;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: var(--spaceS);
  }

  .hamburger {
    cursor: inherit;
  }

  .menu-line {
    width: var(--spaceXL);
    height: 3px;
    display: block;
    margin: 9px auto;
    transition: all 0.3s ease-in-out;
    cursor: inherit;
  }
}

@media only screen and (max-width: 400px) {
  .menu {
    right: var(--spaceXL);
    top: var(--spaceXL);
  }
  
}