.menu {
  display: none
}

@media only screen and (max-width: 700px) {
  .menu {
    display: block;
    position: fixed;
    top: 56px;
    right: var(--spaceOuter);
    z-index: 1024;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .hamburger, .line {
    width: var(--spaceXL);
    height: 4px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    cursor: inherit;
  }
}

#menu-open .line:nth-child(1),
#menu-open .line:nth-child(3){
  width: 40px;
}

#menu-open .line:nth-child(1){
  transform: translateX(-10px) rotate(-45deg);
}

#menu-open .line:nth-child(3){
  transform: translateX(-10px) rotate(45deg);
}