.skills-header {
  margin: var(--spaceXL) 0;
  font-size: 3rem;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  text-align: center;
}

.skills-container h2 {
  font-size: 2rem;
  margin: var(--spaceM);
}

.skills-container ul {
  display: flex;
}

.skills-container li {
  list-style-type: none;
  font-size: 1.25rem;
  margin: 0 1rem;
}

.skills-image {
  filter: grayscale(1);
  transition: filter .3s;
}

.skills-image:hover {
  filter: grayscale(0);
}

.skills-progress {
  margin-top: 1rem;
  width: 100px;
  height: 4px;
  background: lightgrey;
}