.skills-header {
  margin: var(--spaceXL) 0;
  font-size: 3rem;
  text-align: center;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  text-align: center;
}

.skills-container h2 {
  font-size: 2rem;
  margin: var(--spaceM);
}

.skills-container ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.skills-container li {
  list-style-type: none;
  font-size: 1.25rem;
  margin: 1rem;
  width: 100px;
}

.skills-image {
  filter: grayscale(1);
  transition: filter .3s;
}

.skills-image:hover {
  filter: grayscale(0);
}

@media only screen and (max-width: 900px) {
  .section-skills {
    height: 120vh;
  }

  .skills-container {
    grid-template-columns: none;
  }

  .skills-container li {
    margin: .5rem;
    transform: scale(0.9);
    width: 90px;
  }
}

@media only screen and (max-width: 800px) {
  .skills-container li {
    margin: .3rem;
    transform: scale(0.8);
    width: 85px;
  }
}

@media only screen and (max-width: 500px) {
  .section-skills {
    height: 150vh;
  }
  
  .skills-container li {
    margin: .2rem;
    transform: scale(0.7);
    width: 80px;
  }
}