.project {
  display: grid;
  grid-template-columns: 1fr 35%;
  width: 100%;
  align-items: center;
}

.project-reverse {
  grid-template-columns: 45% 1fr;
}

.project-preview {
  place-self: end;
  order: 1;
}

.project-description {
  margin: var(--spaceM);
  max-width: 350px;
  order: 2;
  justify-self: center;
  text-align: center;
}

.order-reverse {
  order: 3;
  place-self: start;
}

.project-img {
  max-width: 90%;
  width: 100%;
  height: auto;
}

.project-title {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: var(--spaceM);
  min-inline-size: max-content;
}

.project-text {
  font-size: 1.25rem;
  margin-bottom: var(--spaceM);
  text-align: center;
}

.dark-proj-title {
  color: white
}

.light-proj-title {
  color: black;
}

.dark-proj-text {
  color: rgb(var(--rgbWhite) / .8)
}

.light-proj-text {
  color: rgb(var(--rgbBlack) / .5)
}

.project-links-container {
  display: flex;
  justify-content: space-evenly;
  transform: scale(1.25);
  padding: 0px 15%;
}

.section-project {
  margin: 10% 0px;
}

@media only screen and (max-width: 1300px) { 
  .project-title {
    font-size: 2rem
  }

  .project-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .project {
    grid-template-columns: 100%;
    margin: 10% 0px;
  }

  .project-preview, .project-description {
    place-self: center;
    text-align: center;
  }

  .project-description {
    max-width: 65%;
  }

  .order-reverse {
    order: 1;
  }

  .project-title {
    font-size: 2.25rem;
  }

  .project-text {
    font-size: 1.25rem;
  }

  .project-img {
    max-width: 50vw;
  }
}

@media only screen and (max-width: 800px) {
  .project-description {
    max-width: 75%;
  }

  .project-title {
    font-size: 2rem;
  }

  .project-text {
    font-size: 1.15rem;
  }

  .project-img {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 600px) { 
  .project-description {
    max-width: 95%;
  }

  .project-title {
    font-size: 1.75rem;
  }

  .project-text {
    font-size: 1rem;
  }

  .project-img {
    max-width: 70vh;
  }
}

@media only screen and (max-width: 400px) { 
  .project-title {
    min-inline-size: inherit;
  }
}