.javascript-image {
  width: 80px;
  height: auto;
  margin: .6rem 0;
}

.javascript-small {
  font-size: 1rem;
}

.javascript-progress:after {
  content: "";
  width: 90px;
  height: 4px;
  background: var(--hexLinuxGreen);
  display: block;
}