.navbar {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1024;
}

@media only screen and (max-width: 700px) {
  .navbar {
    height: auto;
  }
}