.web-icons, .mobile-icons {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.web-icons {
  display: flex;
  position: relative;
  bottom: var(--spaceOuter);
}

.mobile-icons {
  display: none;
}

.icon-container {
  padding: var(--spaceS);
}

.icon {
  width: var(--spaceL);
  height: var(--spaceL);
  fill: grey;
  transition: fill 2.5s;
}

.icon:hover {
  fill: var(--hexLinuxGreen);
  transition: fill .2s;
}

.dark-icon {
  fill: var(--lightTextColor);
}

.light-icon {
  fill: var(--darkTextColor);
}

.medium {
  transform: scale(.8);
}

@media only screen and (max-width: 700px) {
  .web-icons {
    display: none;
  }

  .mobile-icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: var(--spaceXL);
    left: var(--spaceXL);
  }
}