.carousel-proj-desc {
  text-align: center;
  position: relative;
  width: 50%;
  margin: auto;
  top: -63%;
}

.project-text {
  font-size: 1.25rem;
  max-width: 600px;
  margin: auto;
  color: darken(white, 10%);
  text-shadow: 2px 2px 4px black;

  @include breakpoint(2000px) {
    font-size: 1.15rem;
  }

  @include breakpoint(1300px) {
    font-size: 1rem;
    max-width: 500px;
  }

  @include breakpoint(850px) {
    font-size: 0.85rem;
  }
}

.project-title {
  font-size: 2.5rem;
  margin-top: 0;
  color: white;
  text-shadow: 2px 2px 4px black;

  @include breakpoint(2000px) {
    font-size: 2.25rem;
  }

  @include breakpoint(1600px) {
    font-size: 2rem;
  }

  @include breakpoint(700px) {
    font-size: 1.5rem;
  }
}

.carousel-proj-links {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  transform: scale(1.15);
  margin: 1.5rem auto 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}