$iconGrey: #808080;

%icon {
  width: $spaceL;
  height: $spaceL;
  transition: fill 2.5s, transform .3s;
}

.web-icons, .mobile-icons {
  align-items: center;
  justify-content: center;
}

.web-icons {
  flex-direction: column;
  display: flex;
  position: relative;
  bottom: $space2XL;

  @include breakpoint(700px, 625px) {
    display: none;
  }
}

.mobile-icons {
  display: none;

  @include breakpoint(700px, 625px) {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: $spaceXL;
    left: $spaceXL;
  }
}

.icon-container {
  padding: $spaceS;

  &:hover %icon {
    fill: $colorGreen;
    transition: fill .2s;
  }
}

.medium {
  transform: scale(.8);
}

.github, #linkedIn, #medium, .youtube, .live-link {
  transition: transform 1s;

  &:hover {
    transition: transform .5s;
  }
}

.github:hover, #medium:hover, .live-link:hover {
  transform: scale(1.3);
}

#linkedIn:hover, .youtube:hover {
  transform: scale(1.2);
}


.live-link-icon {
  width: 20px;
}