.theme-svg {
  fill: none;
  height: 40px;
  width: 40px;
  transform: rotate(40deg);
  position: relative;
  top: 2px;
}

.theme-svg circle, 
.theme-svg line,
.theme-button:hover
.mobile-theme-button,
.theme-button {
  cursor: pointer;
}

.theme-button,
.mobile-theme-button {
  position: fixed;
  right: $space2XL;
  padding: $spaceS;
  transition: backdrop-filter .3s;
  border-radius: 50px;
  background-color: transparent;
  border: none;

  &:hover {
    backdrop-filter: contrast(0.85);
    transition: backdrop-filter .3s;
  }
}

.theme-button {
  z-index: 1024;
  top: $space2XL;

  @include breakpoint(700px, 625px) {
    display: none;
  }
}

.mobile-theme-button{
  display: none;

  @include breakpoint(700px, 625px) {
    display: block;
    bottom: 33px;
  }
}
