.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rotate-container {
  overflow: hidden;
  height: 9rem;
  font-size: 8rem;
  flex-shrink: 0;

  @include breakpoint(2000px) {
    height: 8rem;
    font-size: 7rem;
  }

  @include breakpoint(1600px) {
    height: 7rem;
    font-size: 6rem;
  }

  @include breakpoint(1200px) {
    height: 6rem;
    font-size: 5rem;
  }

  @include breakpoint(900px) {
    height: 5rem;
    font-size: 4rem;
  }
  
  @include breakpoint(700px) {
    font-size: 3rem;
    height: 3.5rem;
  }

  @include breakpoint(400px) {
    font-size: 2rem;
    height: 2.5rem;
  }
}

.rotating {
  width: 100%;
  animation: slide 12s infinite 4s; 
  display: block;
  list-style-type: none;
}

.li-rotate {
  font-weight: bolder;
  text-align: end;
  letter-spacing: 1px;
}

.line {
  display: flex;
  width: 100%;
  height: 2px;
  transform-origin: left;
  margin-top: 32px;
  margin-left: 40px;

  @include breakpoint(2000px) {
    margin-top: 30px;
    margin-left: 30px;
  }

  @include breakpoint(1600px) {
    margin-top: 22px;
    margin-left: 30px;
  }

  @include breakpoint(1200px) {
    margin-top: 16px;
    margin-left: 20px;
  }

  @include breakpoint(900px) {
    margin-top: 10px;
    margin-left: 20px;
  }

  @include breakpoint(700px) {
    margin-left: 11px;
  }

  @include breakpoint(400px) {
    margin-top: 6px;
  }
}

@keyframes slide {
  0%, 12.66%, 100% {transform:translateY(0%);}
  16%, 29.32% {transform:translateY(-25%);}
  33.32%, 45.98% {transform:translateY(-50%);}
  49.98%, 62.64% {transform: translateY(-75%);}
  66.64%, 79.3% {transform:translateY(-50%);}
  83.3%, 95.96% {transform:translateY(-25%);}
}