.theme-button {
  position: fixed;
  z-index: 1024;
  top: var(--spaceOuter);
  right: var(--spaceOuter);
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  padding: var(--spaceS);
  box-sizing: content-box;
  transition: backdrop-filter .3s;
  border-radius: 50px;
  cursor: pointer;
}

.theme-button:hover {
  backdrop-filter: contrast(0.85);
  transition: backdrop-filter .3s;
}

.dark-button-cl:hover {
  backdrop-filter: contrast(0.7);
}

.light-button-cl:hover {
  backdrop-filter: contrast(0.85);
}

.theme-svg {
  fill: none;
  height: 40px;
  width: 40px;
  transform: rotate(40deg);
}

.theme-svg circle, .theme-svg line, .theme-button:hover {
  cursor: pointer;
}

.mobile-theme-button{
  display: none;
  border: none;
  background-color: transparent;
}

.dark-button {
  filter: contrast(0);
}

.light-button {
  filter: opacity(0.75);
}

@media only screen and (max-width: 700px), (max-height: 550px) {
  .theme-button {
    display: none;
  }

  .mobile-theme-button {
    display: block;
    position: fixed;
    bottom: 33px;
    right: var(--spaceOuter);
    padding: var(--spaceS);
    border-radius: 50px;
    cursor: pointer;
    transition: backdrop-filter .3s;
  }
}