:root {
  --spaceS: 8px;
  --spaceM: 16px;
  --spaceL: 24px;
  --spaceXL: 32px;
  --spaceOuter: 48px;
  --rgbBlack: 0 0 0;
  --rgbWhite: 255 255 255;
}

* {
  padding: 0px;
  margin:0px
}

main {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 700px) {
  main {
    grid-template-columns: none;
  }
}