:root {
  --spaceS: 8px;
  --spaceM: 16px;
  --spaceL: 24px;
  --spaceXL: 32px;
  --space2XL: 48px;
  --space3XL: 64px;
  --spaceOuter: 48px;
  --hexLinuxGreen: #4AF626;
  --rgbBlack: 0 0 0;
  --rgbWhite: 255 255 255;
  --rgbGrey: 17 17 17;
  --rgbDarkGrey: 26 26 26;
  --rgbOffWhite: 242 242 242;
  --rgbWhite: 255 255 255;
  --lightTextColor: rgb(var(--rgbWhite) / .6);
  --darkTextColor: rgb(var(--rgbBlack) / .6);
  --fontStack: Gotham, system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  outline: none;
  font-family: var(--fontStack);
  cursor: default;
  user-select: none;
}

a, svg, path, g {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

main {
  transition: all 1s;
}

.dark {
  background-color: rgb(var(--rgbGrey));
  color: rgb(var(--rgbWhite) / .7);
}

.light {
  background-color: rgb(var(--rgbOffWhite));
  color: rgb(var(--rgbDarkGrey) / .8);
}

@media only screen and (max-width: 700px) {
  main {
    grid-template-columns: none;
  }
}