:root {
  --spaceS: 8px;
  --spaceM: 16px;
  --spaceL: 24px;
  --spaceXL: 32px;
  --space2XL: 48px;
  --space3XL: 64px;
  --spaceOuter: 48px;
  --hexLinuxGreen: #4AF626;
  --rgbBlack: 0 0 0;
  --rgbWhite: 255 255 255;
  --rgbGrey: 17 17 17;
  --rgbDarkGrey: 26 26 26;
  --rgbOffWhite: 242 242 242;
  --rgbWhite: 255 255 255;
  --lightTextColor: rgb(var(--rgbWhite) / .6);
  --darkTextColor: rgb(var(--rgbBlack) / .6);
  --fontStack:  'Open Sans', sans-serif, Gotham, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Segoe UI;
  --fontUbuntu: Ubuntu
}

* {
  padding: 0px;
  margin: 0px;
  outline: none;
  font-family: var(--fontStack);
  cursor: default;
  user-select: none;
}

a, svg, path, g {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

main {
  transition: all 1s;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--hexLinuxGreen) lightgrey;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: lightgrey; 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--hexLinuxGreen);
  box-shadow: 
    inset -2px 2px 3px hsl(0deg 0% 100% / 25%), 
    inset 1px -2px 3px rgb(0 0 0 / 25%);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #39C21D;
}

.dark {
  background-color: rgb(var(--rgbGrey));
  color: rgb(var(--rgbWhite) / .7);
}

.light {
  background-color: rgb(var(--rgbOffWhite));
  color: rgb(var(--rgbDarkGrey) / .8);
}

/* need to add */
@media only screen and (max-width: 700px) {
  main {
    grid-template-columns: none;
  }
}