.divider {
  fill: var(--hexLinuxGreen);
}

.divider-container {
  padding: 1rem;
}

.divider-container:hover > .divider-top {
  transition: all 1s ease;
  transform: translateX(-100%);
}

.divider-container:hover > .divider-bottom {
  transition: all 1s ease;
  transform: translateX(100%);
}