.web-nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.web-nav-list {
  transform: rotate(-90deg) translate3d(-50%,0,0);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: var(--SpaceOuter);
}

.web-link {
  padding: var(--spaceM);
}

@media only screen and (max-width: 700px) {
  .web-nav {
    display: none;
  }
}