.logo {
  position: relative;
  top: var(--spaceOuter);
  z-index: 1024;
  height: 65px;
  width: 65px;
}

.logo-svg {
  transition: fill 4s;
}

.logo-svg:hover {
  fill: var(--hexLinuxGreen);
  transition: fill .5s;
  animation: shake .3s;
}

.dark-logo {
  fill: white;
}

.light-logo {
  fill: black;
}

@keyframes shake {
  33% { transform: translateX(-1px) rotate(-1deg); }
  66% { transform: translateX(1px) rotate(1deg); }
  100% { transform: translateX(0px) rotate(0deg);}
}

@media only screen and (max-width: 700px) {
  .logo {
    position: fixed;
    left: var(--spaceOuter);
  }
}

@media only screen and (max-width: 400px) {
  .logo {
    left: var(--spaceXL);
    top: var(--spaceXL);
  }
}