.main-content {
  width: 100%;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: auto;
  padding-left: 150px;
  padding-right: 150px;
}

@media only screen and (max-width: 700px) {
  .section {
    padding-left: var(--spaceOuter);
    padding-right: var(--spaceOuter);
  }
}